body {
  background: rgb(229, 221, 236);
}

.content {
  max-width: 1500px;
  margin: auto;
}

.navbar {
  background: rgb(196, 201, 243);
}

th, td {
  padding: 8px;
  text-align: center;
}

.routeCompleted {
  background-color: #eb9595;
}

.routeCompleted:hover {
  background-color: #f0abab;
}

tr:hover {background-color: #c2def5;}

.success-msg-wrapper {
    display: none;
  }

